*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --nav-width: 92px;
  
    /*===== Colores =====*/
    --first-color: #006a47;
    --bg-color: #f4f4f4;
    --sub-color: #f4f4f4;
    --white-color: #FFF;
    
    /*===== Fuente y tipografia =====*/
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    
    /*===== z index =====*/
    --z-fixed: 100;
  }

.table {
    width: 100%;
  }

  .table thead {
    text-align: center !important;
    color: rgb(255, 255, 255) !important;
    background: var(--first-color) !important;

  }
  
  .table td {
    color: rgb(103, 103, 103);
    font-size: 11px;
    vertical-align: middle;
    text-align: center;
    border: none;
   
  }
  .page-item.active .page-link{
    background: var(--first-color) !important;
    border: none;
    color: white;
  }
  
  .table-responsive .pagination li {
    border-radius: 6px;
    margin-left: 5px;
    outline: none;
  }
  
  .table-responsive .pagination li a {
    color: rgb(103, 103, 103);
    border-radius: 6px;

  }
 